$colors: (primary "#00BCD4",
        primary-light "#1DE9B6",
        secondary "#212121",
        red "#f44336",
        amber "#FFC107",
        midnight "#052A5A",
        white "#FFFF",
        black "#212121",
        green "#5B7873",
        grey "#AEBDC7");

@each $color in $colors {
    $key: nth($color, 1);
    $value: nth($color, 2);

    .#{$key}-text {
        color: #{$value};
    }

    .bg-#{$key} {
        background-color: #{$value};
    }
}
