
$breakpoints: mobile 480, tablet 840, desktop 1280;
$spaces: 4, 8, 16, 24, 32, 40, 48, 56, 64, 72, 80, 120;
$corners: top, bottom, left, right;

@mixin generateBreakpointSpaces($key, $space) {

	$spacer: #{($space / 8) * .67}rem;

	// Generate margin all corners
	.m-#{$key} {
		margin: $spacer;
	}

	// Generate padding all corners
	.p-#{$key} {
		padding: $spacer;
	}

	@each $corner in $corners {

		$position: str-slice($corner, 0, 1);

		// Generate corners for margin
		.m#{$position}-#{$key} {
			margin-#{$corner}: $spacer;
		}

		// Generate corners for padding
		.p#{$position}-#{$key} {
			padding-#{$corner}: $spacer;
		}

	}

}

@each $space in $spaces {
	@include generateBreakpointSpaces($space, $space);
}

//Generate breakpoint spaces
@each $breakpoint in $breakpoints {
	$key: nth($breakpoint, 1);
	$value: nth($breakpoint, 2);

	@media (min-width: #{$value}px) {

		@if $key == 'mobile' {
			@include generateBreakpointSpaces($key, 8);
		}

		@if $key == 'mobile' {
			@include generateBreakpointSpaces($key, 16);
		}

		@if $key == 'desktop' {
			@include generateBreakpointSpaces($key, 24);
		}

	}
}
