@import './colors.scss';
@import './flex.scss';
@import './spaces.scss';
@import './whiteframes.scss';

.text-center {
    text-align: center;
}

.text-justify {
    text-align: justify;
}

.text-left {
    text-align: left;
}

.text-right {
    text-align: right;
}

.text-upper {
    text-transform: uppercase;
}

.shadow-1 {
    @include whiteframe-shadow(1);
}

.shadow-2 {
    @include whiteframe-shadow(2);
}

.shadow-3 {
    @include whiteframe-shadow(3);
}

.text-bold {
    font-weight: bold;
}
